/* Google-Sans-Regular - 400 */
/* @font-face {
  font-family: 'Google Sans';
  src: url('../assets/fonts/GoogleSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */

/* Google-Sans-Medium - 500 */
/* @font-face {
  font-family: 'Google Sans';
  src: url('../assets/fonts/GoogleSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
} */

/* Google-Sans-bold - 700 */
/* @font-face {
  font-family: 'Google Sans';
  src: url('../assets/fonts/GoogleSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} */

/* Google-Sans-Regular - 400 */
/* @font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */

/* Google-Sans-Medium - 500 */
/* @font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
} */

/* Google-Sans-bold - 700 */
/* @font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} */

/* Google-Sans-Regular - 400 */
/* @font-face {
  font-family: 'Instrument Sans';
  src: url('../assets/fonts/InstrumentSans-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */

/* Google-Sans-Medium - 500 */
/* @font-face {
  font-family: 'Instrument Sans';
  src: url('../assets/fonts/InstrumentSans-Medium.woff2')
    format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
} */

/* Google-Sans-bold - 700 */
/* @font-face {
  font-family: 'Instrument Sans';
  src: url('../assets/fonts/InstrumentSans-Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} */

/* Google-Sans-Regular - 400 */
@font-face {
  font-family: 'Geist';
  src: url('../assets/fonts/Geist-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Google-Sans-Medium - 500 */
@font-face {
  font-family: 'Geist';
  src: url('../assets/fonts/Geist-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Google-Sans-bold - 700 */
@font-face {
  font-family: 'Geist';
  src: url('../assets/fonts/Geist-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
